body {
            font-family: Arial, sans-serif;
            margin: 0px;
            background-color: #f1db8c;
            overflow-x: hidden;
        }
        h1 {
            color: #333;
            margin: 5px;
        }
        h2 {
            color: #333;
            margin: 5px;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
        #header {
            display: flex;
            align-items: center;
            text-align: left;
            background-color: #f5f700;
            margin: auto;
        }
        .header_button {
            background-color: #1cdd14;
            border: 2px #e6201c solid;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 50px;
            cursor: pointer;
            width: 120px;
        }
        #redline {
            width: 100%;
            height: 4px;
            background-color: #e6201c;
        }
        .main {
            background-color: #f5f700;
            border: 4px #e6201c solid;
            margin: 20px;
        }
        .main2 {
            background-color: #f5f700;
            border: 4px #e6201c solid;
            margin: 20px;
            margin-top: 30px;
        }
        .picture {
            display: block;
            margin: 5px;
            border: 4px #e6201c solid;
        }
        .padding {
            height: 20px;
        }
        .content {
            display: flex;
            justify-content: left;
        }
        h3 {
            color: #333;
            display: flex;
            height: 100%;
        }
        .Chicken {
            margin-left: 40%;
            width: 200%;
            height: 200px;
        }
        .SideBox {
            background-color: #f5f700;
            border: 4px #e6201c solid;
            margin: 20px;
            margin-top: 30px;
            margin-left: 100%;
            width: 120%;
            height: 1050px;
        }
        #WorkText {
            margin-top: 15%;
            margin-left: 70px;
        }
        #WorkImg{
            margin-top: 2%;
            margin-left: 2%;
        }
        #ApplyButton{
            margin-top: -100px;
            background-color: #f1db8c;
            cursor: pointer;
            width: 200px;
            height: 100px;
        }
        #ApplyDiv{
            margin-left: 60%;
            margin-top: -270px;
        }
        #SideBox2 {  
            overflow-x: hidden;
            background-color: #f5f700;
            border: 4px #e6201c solid;
            margin: 20px;
            margin-top: 30px;
            margin-left: -100%;
            width: 120%;
            height: 1050px;
        }
        #footer {
            text-align: center;
            padding: 10px;
            background-color: #f5f700;
            border-top: 4px #e6201c solid;
            width: 100%;
            height: 300px;
            margin-top: 20px;
        }
        .locationCluster {
            margin-left: 20px;
            display: inline-block;
        }
        .locationState {
            margin-left: 20px;
        }