#KasavalvImg {
    max-width: 100%;
    max-height: 100%;
    border-collapse: collapse;
}

.pin-input {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
  }

  .kasavalvbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000; 
}
#gif {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: -100px;
    z-index: -1;
}
.Text{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #00e904;
    margin-bottom: 20px;
}
.WrongCode{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 20px;
}