body {
            font-family: Arial, sans-serif;
            margin: 0px;
            background-color: #f1db8c;
        }
        h1 {
            color: #333;
            margin: 5px;
        }
        h2 {
            color: #333;
            margin: 5px;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
        #header {
            display: flex;
            align-items: center;
            text-align: left;
            background-color: #f5f700;
            margin: auto;
        }
        .header_button {
            background-color: #1cdd14;
            border: 2px #e6201c solid;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 50px;
            cursor: pointer;
            width: 120px;
        }
        #redline {
            width: 100%;
            height: 4px;
            background-color: #e6201c;
        }
        .main {
            background-color: #f5f700;
            border: 4px #e6201c solid;
            margin: 20px;
        }
        .picture {
            display: block;
            margin: 5px;
            border: 4px #e6201c solid;
        }
        .padding {
            height: 20px;
        }
        .content {
            display: flex;
            justify-content: left;
        }
        h3 {
            color: #333;
            display: flex;
            height: 100%;
        }
        .highlight {
            background-color: #ffff99;
        }
        #NMB {
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: purple;
            border: yellow 2px solid;
        }
        #BG {
            display: flex;
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: blue;
            border: red 2px solid;
            justify-content: center;
        }
        #CS {
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: red;
            border: green 2px solid;
        }
        #PBB {
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: red;
            border: yellow 2px solid;
        }
        #PP {
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: green;
            border: blue 2px solid;
        }
        #SO {
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: yellow;
            border: green 2px solid;
        }
        .menu {
            display: flex;
            justify-content: space-around;
            background-color: black;
            border-left: #f5f700 20px solid;
            border-right: #f5f700 20px solid;
        }
        #menubg {
            display: block;
            background-color: black;
        }
        .sep {
            width: 100%;
            height: 20px;
            background-color: #f5f700;
        }
        .review {
            border: 2px #e6201c solid;
            margin: 10px;
            padding: 10px;
            width: 300px;
        }
        