body {
            font-family: Arial, sans-serif;
            margin: 0px;
            background-color: #f1db8c;
        }
        h1 {
            color: #333;
            margin: 5px;
        }
        h2 {
            color: #333;
            margin: 5px;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
        #header {
            display: flex;
            align-items: center;
            text-align: left;
            background-color: #f5f700;
            margin: auto;
        }
        .header_button {
            background-color: #1cdd14;
            border: 2px #e6201c solid;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 50px;
            cursor: pointer;
            width: 120px;
        }
        #redline {
            width: 100%;
            height: 4px;
            background-color: #e6201c;
        }
        .main {
            background-color: #f5f700;
            border: 4px #e6201c solid;
            margin: 20px;
        }
        .picture {
            display: block;
            margin: 5px;
            border: 4px #e6201c solid;
        }
        .padding {
            height: 20px;
        }
        .content {
            display: flex;
            justify-content: left;
        }
        h3 {
            color: #333;
            display: flex;
            height: 100%;
        }
        .highlight {
            background-color: #ffff99;
        }
        #NMB {
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: purple;
            border: yellow 2px solid;
        }
        #BG {
            display: flex;
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: blue;
            border: red 2px solid;
            justify-content: center;
        }
        #CS {
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: red;
            border: green 2px solid;
        }
        #PBB {
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: red;
            border: yellow 2px solid;
        }
        #PP {
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: green;
            border: blue 2px solid;
        }
        #SO {
            margin: 10px;
            width: 30%;
            height: 400px;
            background-color: yellow;
            border: green 2px solid;
        }
        .menu {
            display: flex;
            justify-content: space-around;
            background-color: black;
            border-left: #f5f700 20px solid;
            border-right: #f5f700 20px solid;
        }
        #menubg {
            display: block;
            background-color: black;
        }
        .sep {
            width: 100%;
            height: 20px;
            background-color: #f5f700;
        }
        .review {
            border: 2px #e6201c solid;
            margin: 10px;
            padding: 10px;
            width: 30%;
            height: 250px;
        }
        .subcontent {
            display: flex;
            flex-direction: row;
        }
        .reviewdropdown {
            display: flex;
            flex-direction: column;
        }
        /* The dropdown container */
        .dropdown {
        float: left;
        overflow: hidden;
        }

        /* Dropdown button */
        .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; /* Important for vertical align on mobile phones */
        margin: 0; /* Important for vertical align on mobile phones */
        }
        /* Dropdown content (hidden by default) */
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        }

        /* Add a grey background color to dropdown links on hover */
        .dropdown-content a:hover {
        background-color: #ddd;
        }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
        display: block;
        }

        .locationbtn {
            text-align: left;
            margin: 10px;
            background-color: red;
            height: 30px;
            width: 130px;
            justify-content: center;
        }

        .containerforbtn {
            position: relative;
            display: flex;
            justify-content: center;
        }
        #thing {
            margin-left: 50px;
        }
        .employeebtn {
            background-color: #1cdd14;
            border: 2px #e6201c solid;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 10px;
            cursor: pointer;
            width: 200px;
        }
        .loginform {
            display: flex;
            flex-direction: column;
            align-items: left;
        }
        .logininput {
            margin: 5px;
            padding: 10px;
            width: 200px;
            border: 2px #e6201c solid;
        }
